.idea/*
.DS_Store
.sass-cache/*
.node_modules/*
udemy/advanced-css/Natours/node_modules/*
udemy/advanced-css/Trillo/node_modules/*
udemy/advanced-css/Natours/css/style.prefix.css
udemy/advanced-css/Natours/css/style.concat.css
udemy/advanced-css/Natours/css/style.comp.css
